.form-login {
    text-align: left;

    .input-block {
        position: relative;
        
        label {
            display: block;
            margin-bottom: 1rem;
            color: var(--fuba-text-color);
            font-size: 1.2rem;
            text-align: left;
            margin-bottom: 0;
        }
    
        input {
            height: 4rem;
            line-height: 4rem;
            font-size: 1.6rem;
            padding: 0 1.5rem 0 0;
            border-radius: 0;
            margin-bottom: 1.5rem;
            width: 100%;
            border-bottom: 1px solid var(--fuba-darkbg-color);
            border-top: none;
            border-left: none;
            border-right: none;
            color: #b19181;
        }
    
        i {
            cursor: pointer;
            position: absolute;
            top: 2rem;
            right: 1rem;
        }
    }
}