h2 {
    font-size: 5rem;
    line-height: 6rem;
    color: var(--fuba-text-color);
    opacity: 1 !important;
}

p {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--fuba-text-color);
}