h2 {
    font-size: 5rem;
    line-height: 6rem;
    color: var(--fuba-text-color);
    opacity: 1 !important;
}

h3 {
    font-size: 3.2rem;
    line-height: 3.8rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #e7ddd8;
    color: var(--fuba-text-color);
}

p {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--fuba-text-color);
}